body{
	color: #21272d;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4;

}
/* header */
/* ----------------------------------------------------------*/
.header-principal{
	border-bottom: 2px solid #5C5C5C;
	overflow: hidden;
}
#logo, #logo a{
	float: left;
	margin: 0 0;
}
#logo a{
	background: url(../img/logo.png) no-repeat;
	width: 221px;
	height: 38px;
}

.menu {
	float: right;
	padding-top: 10px;
}
.pages .page-link{
	color: #008AE6;
	display: inline;
	text-decoration: none;
	padding: 5px;
}
.pages a:visited{
	color: #33ADFF;
}
.pages a:hover{
	color: black;
	text-decoration: underline;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

/* Main page body */
/* ----------------------------------------------------------*/

.posts{
	list-style-type: none;
	margin: 0;
	padding: 10px;

}
.posts li{
	padding-bottom: 20px;
}
.posts .post-title{
	color: #0052CC;
	text-decoration: none;
	font-size: 25px;
	letter-spacing: -1px;
}
.posts a:visited{
	color: #5C91DE;
}
.posts .post-meta{
	display: block;
	color: #666666;
	margin-top: -5px;
	padding-top: 1px;
}
.post-body{
	padding-top: 5px;
}

/* Post Page */
/* ----------------------------------------------------------*/
.post-header h1, .post-header .meta{
	margin: 0;
}

.post-header h1{
	color: #2D2D2D;
}
.post-header .meta{
	margin-top: -5px;
}
.post-content{
	margin-left: 3px;
	margin-top: -5px;
}
.post-content a, .site-footer a{
	color: #0066FF;
	text-decoration: none;
}

.post-content a:visited, .site-footer a:visited{
	color: #99CCFF;
}
.post-content a:hover, .site-footer a:hover{
	color: black;
}
/* About Share */
/* ----------------------------------------------------------*/

.about-share{
margin-top: 0;
}
.about-me{
	color: #5a5a5a;
}
.about-me #avatar{
	padding-top: 2px;
	float: left;
	margin-right: 10px;
}

.about-me #avatar img{
	border-radius: 30px;
}

footer {
	border-top: 2px solid #5C5C5C;
}