<div class="about-share">
	<!---<div class="share">
		<p>This is a about me...This is a about me...This is a about me...This is a about me...This is a about me...This is a about me...This is a about me...This is a about me...</p>
	</div>-->
	<div class="about-me">
		<div id="avatar">
			<a href="http://twitter.com/leosanchez16" title="Follow me on Twitter!"><img src="/img/avatar.jpeg"  height="50" width="50"></a>
		</div>
		<p>I’m Luis Sanchez, or as I prefer Leo. This is a blog where I will publish any project that I do in my free time. I’m a student in the University of Texas at Austin. Hook ‘em Horns. Currently I’m studying Computer Science.</p>

	</div>
</div>